@{
    ViewData["Title"] = "LMSGrupp3";
}
<div class="text-center"    title="Learning Mangagement System">
    <br />
    <h1>
        <img class="logo" src="~/images/biguni.jpg" height="250" width="300" />
    </h1>
    <br />

    <h1 class="display-4">Welcome To</h1>
     <h1 class="display-4" title="LMSGrupp3">Your Learning Platform</h1>
</div>