@{
    ViewData["Title"] = "LMSGrupp3";
}
<div class="text-center"    title="Learning Mangagement System">
    <br />
    <h1>
        <img class="splashLexiconBg" src="~/images/biguni.jpg" />
    </h1>
    <br />

    <h1 class="display-4">Welcome</h1>
    <h1 class="display-4">To</h1>
    <h1 class="display-4" title="Lexicon Learning Mangagement System">Lexicon LMS</h1>
</div>