@using LMSGrupp3.Models.Entities
@model Course

<tr>
    <td>@Html.DisplayFor(item => item.CourseName)</td>
    <td>@Html.DisplayFor(item => item.Description)</td>
    <td>@Html.DisplayFor(item => item.StartDate)</td>
</tr>